name: shellgpt release

on:
  workflow_dispatch:
  push:
    tags:
      - 'shellgpt-v*'

defaults:
  run:
    working-directory: shellgpt

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install pypa
        run: >-
          pip install hatch
      - name: Pulish
        run: |
          hatch build
          hatch publish -u '__token__' -a '${{ secrets.HATCH_INDEX_AUTH }}'
