name: VC Release on Pypi

on:
  workflow_dispatch:
  push:
    tags:
      - 'vc-v*'

defaults:
  run:
    working-directory: video-compress

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install pancdoc
        uses: pandoc/actions/setup@main

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Build
        run: |
          make build

      - name: Pulish
        run: |
          uv publish -t '${{ secrets.HATCH_INDEX_AUTH }}'
