name: Deploy zigos website

on:
  workflow_dispatch:
  push:
    branches: ['main']
    paths:
      - 'zigos/**'

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'zigos-website'
  cancel-in-progress: true

defaults:
  run:
    shell: bash
    working-directory: zigos

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true
      - name: Build with Hugo
        env:
          # For maximum backward compatibility with Hugo modules
          HUGO_ENVIRONMENT: production
          HUGO_ENV: production
        run: |
          npm i -D postcss postcss-cli autoprefixer
          hugo mod get
          hugo \
            --minify \
            --baseURL "${{ steps.pages.outputs.base_url }}/"
      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          command: pages deploy . --project-name=zigos --branch=main
          workingDirectory: 'zigos/public'
